.Button {
  background: #0094FF;
  border-radius: 26px;
  display: flex;
  outline: none;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: none;
  color: white;
  height: 36px;
  font-size: 15px;

  &__spinner {
    margin-right: 8px;
    position: relative;
    top: -1px;
  }

  &:hover,
  &_hover {
    background: #31A8FF;
  }

  &:focus,
  &_focus {
    background: #0386FF;
  }

  &:disabled {
    background: rgba(0, 0, 0, 0.06);
    color: rgba(10, 21, 31, 0.3);
  }
}